<!DOCTYPE html>

{% load static %}
{% load canvas_filters %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Age Recognition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />

    <!--Load Bootstrap css files-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">

    <!--Load font-awesome css files (fancy icons)-->
    <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">

    <!--Load animate and presonaliced css files-->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">

    <!-- Load django_facebook css files form STATIC-->
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    <!--Load js files from STATIC -->
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li><a href="home" onclick="window.location='/home'">Profile</a></li>
                            <li><a href="game" onclick="window.location='/game'">Game</a></li>
                            <li class="current_li"><a href="achievements" onclick="window.location='/achievements'">Achievements</a></li>
                            <li><a href="gallery" onclick="window.location='/gallery'">Gallery</a></li>
                            <li><a href="ranking" onclick="window.location='/ranking'">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li><a href="home" onclick="window.location='/home'">Profile</a></li>
                                <li><a href="game" onclick="window.location='/game'">Game</a></li>
                                <li class="current_li"><a href="achievements" onclick="window.location='/achievements'">Achievements</a></li>
                                <li><a href="gallery" onclick="window.location='/gallery'">Gallery</a></li>
                                <li><a href="ranking" onclick="window.location='/ranking'">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->
</div> <!-- /#home -->
<!--END-HEADER-->

<!--LOGIN-->
{% if request.GET.fb_error_or_cancel or request.GET.error %}
    <div class="error">
        Please click allow in the facebook interface, to access Age Recognition
    </div>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not user.is_authenticated %}
    <div id="login" class="content-section">
        <div class="col-md-12 text-center">
            <h1 class="section-title">Login</h1>
        </div>
        <div class="row">
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
            <div class=".col-xs-8 .col-sm-10 .col-md-10 text-center">
                <!--form to call registration via facebook -->
                <form action="{% url 'facebook_connect' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next" />

                    <div id="facebook_login_js">
                        <input onclick="F.connect(this.parentNode.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
                        (javascript popup)
                    </div>
                </form>
                You are not logged in, Please login by clicking one of the buttons above
            </div>
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
        </div>
    </div>
{% endif %}
<!--END-LOGIN-->

{% if user.is_authenticated %}
    <!-- ACHIEVEMENTS -->
    <div id="achievements" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="height:200px;">
                    <h1 class="section-title">Achievements</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-2 col-sm-3">
                </div> <!-- /.col-md-2 -->
                <div class="col-md-8 col-sm-6">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Achievement</th>
                            <th>Description</th>
                            <th>Next Goal</th>
                            <th>Stars</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <!-- SHARE IT -->
                            <td>Share it!</td>
                            <td>Invite your friends to play and you will get starts.</td>
                            {% if num_friends < share.0 %}
                                <td>Invite {{ share.0 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.0| safe }}</span></td>
                            {% elif num_friends < share.1 %}
                                <td>Invite {{ share.1 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.1| safe }}</span></td>
                            {% elif num_friends < share.2 %}
                                <td>Invite {{ share.2 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.2| safe }}</span></td>
                            {% elif num_friends < share.3 %}
                                <td>Invite {{ share.3 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.3| safe }}</span></td>
                            {% elif num_friends < share.4 %}
                                <td>Invite {{ share.4 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.4| safe }}</span></td>
                            {% elif num_friends < share.5 %}
                                <td>Invite {{ share.5 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.5| safe }}</span></td>
                            {% elif num_friends < share.6 %}
                                <td>Invite {{ share.6 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.6| safe }}</span></td>
                            {% elif num_friends < share.7 %}
                                <td>Invite {{ share.7 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.7| safe }}</span></td>
                            {% elif num_friends < share.8 %}
                                <td>Invite {{ share.8 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.8| safe }}</span></td>
                            {% elif num_friends < share.9 %}
                                <td>Invite {{ share.9 }} of your friends to play</td>
                                <td><span class="pull-left"> {{ stars.9| safe }}</span></td>
                            {% elif num_friends >= share.9 %}
                                <td>Keep inviting your friends</td>
                                <td><span class="pull-left"> {{ stars.10 }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <!-- PRECISION -->
                            <td>Precision</td>
                            <td>The better your guess is the higher your rank will be.</td>
                            {% for p in precision %}
                                {% if user.userprofile.ach_precision == forloop.counter0 %}
                                    <td>{{ p }}</td>
                                    <td><span class="pull-left"> {{ stars | lookup:forloop.counter0 | safe }}</span></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <!-- VOTE -->
                            <td>Vote!</td>
                            <td>Vote more images to get more stars.</td>
                            {% if user.userprofile.eval_pic < vote.0 %}
                                <td>Vote {{ vote.0 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.0 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.1 %}
                                <td>Vote {{ vote.1 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.1 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.2 %}
                                <td>Vote {{ vote.2 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.2 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.3 %}
                                <td>Vote {{ vote.3 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.3 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.4 %}
                                <td>Vote {{ vote.4 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.4 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.5 %}
                                <td>Vote {{ vote.5 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.5 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.6 %}
                                <td>Vote {{ vote.6 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.6 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.7 %}
                                <td>Vote {{ vote.7 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.7 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.8 %}
                                <td>Vote {{ vote.8 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.8 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic < vote.9 %}
                                <td>Vote {{ vote.9 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.9 | safe }}</span></td>
                            {% elif user.userprofile.eval_pic >= vote.9 %}
                                <td>Keep Voting</td>
                                <td><span class="pull-left"> {{ stars.10 | safe }}</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <!-- ADD PICTURES -->
                            <td>Add Pictures!</td>
                            <td>Upload more images to get more stars.</td>
                            {% if user.userprofile.upload_pic < pic.0 %}
                                <td>Upload {{ pic.0 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.0 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.1 %}
                                <td>Upload {{ pic.1 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.1 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.2 %}
                                <td>Upload {{ pic.2 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.2 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.3 %}
                                <td>Upload {{ pic.3 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.3 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.4 %}
                                <td>Upload {{ pic.4 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.4 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.5 %}
                                <td>Upload {{ pic.5 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.5 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.6 %}
                                <td>Upload {{ pic.6 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.6 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.7 %}
                                <td>Upload {{ pic.7 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.7 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.8 %}
                                <td>Upload {{ pic.8 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.8 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic < pic.9 %}
                                <td>Upload {{ pic.9 }} pictures</td>
                                <td><span class="pull-left"> {{ stars.9 | safe }}</span></td>
                            {% elif user.userprofile.upload_pic >= pic.9 %}
                                <td>Keep uploading pictures</td>
                                <td><span class="pull-left"> {{ stars.10 | safe }}</span></td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- /.col-md-8 -->
                <div class="col-md-2 col-sm-3">
                </div> <!-- /.col-md-2 -->
            </div> <!-- /.row -->
            <div class="row" style="height: 50px"></div>
        </div> <!-- /.container -->
    </div> <!-- /#achievements -->
    <!-- END ACHIEVEMENTS -->
{% endif %}

<!--FOOTER-->
<div class="site-footer">
    <div class="container-fluid">
        <div class="col-md-2 pull-left"><a href="{% url 'policy' %}">Privacy Policy</a></div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right">
                <a href="http://www.maia.ub.es/~sergio/sergio%20escalera%20homepage_006.htm">
                    <img src="{% static 'images/logo/logoHuPBA_white.png' %}" width="80" height="60" alt="HuPBA logo">
                </a>
                <a href="http://gesture.chalearn.org/">
                    <img src="{% static 'images/logo/logoChalearn.png' %}" width="80" height="60" alt="HuPBA logo">
                </a>
                <a href="http://visada.me/">
                    <img src="{% static 'images/logo/logoVisada.png' %}" width="80" height="60" alt="Visada logo">
                </a>
                <a href="http://www.uoc.edu/">
                    <img src="{% static 'images/logo/logoUOC.png' %}" width="80" height="60" alt="UOC logo">
                </a>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right">
                <p>Project developed in collaboration with:</p>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->

<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"><\/script>')</script>
<script src="{% static 'js/jquery.easing-1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!--Load django_facebook script from STATIC-->
<script src="{{ STATIC_URL }}django_facebook/js/statictest.js" type="text/javascript"></script>
{% include 'django_facebook/_facebook_js.html' %}

</body>
</html>
