<!DOCTYPE html>

{% load static %}
{% load canvas_filters %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block extra_head %}

        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <title>Age Recognition</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

        <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />

        <!--Load Bootstrap css files-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">

        <!--Load font-awesome css files (fancy icons)-->
        <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">

        <!-- Load django_facebook css files form STATIC-->
        <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    {#    <link rel="stylesheet" href="{% static 'css/basic.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/messi.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">

        <!--Load js files from STATIC -->
        {% include 'django_facebook/_facebook_js.html' %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script src="{% static 'js/messi.min.js' %}"></script>
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/dropzone.js' %}"></script>
        <script>
        function ShowStats(pic, real_age, ground_truth, num_votes_pic, id_pic){
            if (ground_truth==''){
                ground_truth = 'Not voted yet'
            }
            var content =
                    "<table cellspacing='2' id='stats' class='table table-striped tablesorter' style='barckground-color: wite'>" +
                    "<tbody>" +
                        "<tr>" +
                            "<td><div class='dz-details game-pic-container' style='padding-top: 20px;'>" +
                                "<img src='{{ MEDIA_URL }}"+ pic +"' alt='"+ pic +"'>" +
                            "</div></td>" +
                            "<td>" +
                                "<table cellspacing='2' id='stats' class='table table-striped tablesorter' style='barckground-color: wite'>" +
                                "<thaed><tr>" +
                                    "<th>Real Age</th>" +
                                    "<th>Aparented Age</th>" +
                                    "<th>Number of Votes</th>" +
                                "</tr><thead><tbody><tr>" +
                                    "<td>" + real_age + "</td>" +
                                    "<td>" + ground_truth + "</td>" +
                                    "<td>" + num_votes_pic + "</td>" +
                                "</tr></tbody></talbe>" +
                            "</td>" +
                        "</tr>" +
                    "</tbody></table>" +
                    "<form class='form-horizontal' role='form' action=\"{% url 'gallery' %}\" method='post' enctype='multipart/form-data'>" +
                    "{% csrf_token %}" +
                        "<div class='form-group'>" +
                            "<div class='dz-slider' style='margin-bottom: -30px;'>" +
                                "<p>Input the real age: <strong id='range_game_"+ id_pic +"'>"+ real_age +"</strong></p>" +
                                "<input max='100' min='1' name='vote' onchange=\"showValue(\'range_game_"+ id_pic +"\', this.value); showSave();\" oninput=\"showValue(\'range_game_"+ id_pic +"\', this.value); showSave();\" type='range' value='"+ real_age +"'>" +
                                "<input class='hidden' type='text' name='id_pic' value=\'" + id_pic + "\'>" +
                            "</div>" +
                            "<div style='padding-left: 175px;'>" +
                                "<button id='save' style='visibility: hidden;' class='btn btn-success' type='submit' onclick='hideSave();'>Save</button>" +
                            "</div>" +
                        "</div>" +
                    "</form>";

            new Messi(content, {
                title: 'Image Information',
                modal: true,
                buttons: [{id:0, label: 'Remove Image', val: 'R', class: 'btn-danger'}, {id: 1, label: 'Continue', val: 'X', class: 'btn-success'}],
                width: '800px',
                callback: function(val) {
                    if (val=='R'){
                        rmFormSubmit(id_pic);
                    }
                }
            });
        }
        </script>
    {% endblock extra_head %}
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

{% block content %}
<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li><a href="{% url 'home' %}" >Profile</a></li>
                            <li><a href="{% url 'game' %}">Game</a></li>
                            <li><a href="{% url 'achievements' %}">Achievements</a></li>
                            <li class="current_li"><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'ranking' %}">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >Profile</a></li>
                                <li><a href="{% url 'game' %}">Game</a></li>
                                <li><a href="{% url 'achievements' %}">Achievements</a></li>
                                <li class="current_li"><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'ranking' %}">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

</div> <!-- /#home -->
<!--END-HEADER-->

<!--LOGIN-->
{% if request.GET.fb_error_or_cancel or request.GET.error %}
    <div class="error">
        Please click allow in the facebook interface, to access Age Recognition
    </div>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not user.is_authenticated %}
    <div id="login" class="content-section">
        <div class="col-md-12 text-center">
            <h1 class="section-title">Login</h1>
        </div>
        <div class="row">
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
            <div class=".col-xs-8 .col-sm-10 .col-md-10 text-center">
                <!--form to call registration via facebook -->
                <form action="{% url 'facebook_connect' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next" />

                    <div id="facebook_login_js">
                        <input onclick="F.connect(this.parentNode.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
                        (javascript popup)
                    </div>
                </form>
                You are not logged in, Please login by clicking one of the buttons above
            </div>
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
        </div>
    </div>
{% endif %}
<!--END-LOGIN-->

{% if user.is_authenticated %}
    <!-- GALLERY -->
    <div id="gallery" class="content-section">
        <div class="container" style="padding-bottom: 100px">
            <div class="row">
                <div class="col-md-12 text-center" style="height:200px;">
                    <h1 class="section-title">Gallery</h1>
                </div>
            </div>
            <div><p><strong>Click</strong> on the gray box to <strong>upload</strong> more images or click on the uploaded images to get more <strong>info</strong>.</p></div>
            <form id='mydropzone' class="dropzone" role="form"
                          action="{% url 'gallery' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

{#                ADD GALLERY OF PICTURES #}
                {% for p in pictures %}
                    <div class="dz-preview dz-image-preview" onclick="ShowStats('{{ p.pic }}', '{{ p.real_age}}' , '{{ p.ground_truth }}', '{{ num_votes|lookup:forloop.counter0 }}', '{{ p.id }}');">
                        <div class="dz-details game-pic-container-gallery" style="left: 0; padding: 0; margin: 0 22px 22px 22px">
                            <img src="{{ MEDIA_URL }}{{ p.pic }}" alt="{{ p.pic }}">
                        </div>
                    </div>
                {% empty %}
                    <div style="text-align: center;">
                        <p>Drag and Drop (or click) some images</p>
                    </div>
                {% endfor %}

{#                ADD UPLOAD BOTTON #}
                <div class="form-group">
                        <input id="imgsubmit" class="btn btn-default" type="button"
                                value="Upload Images"/>
                </div>
            </form>
        </div>
    </div>
    <!-- END GALLERY -->
{% endif %}

<!--FOOTER-->
<div class="site-footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"><a href="{% url 'privacy' %}"><p>Privacy Policy</p></a></div>
            <div class="col-md-2"><a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}"><p>logout</p></a></div>
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right">
                <a href="http://www.maia.ub.es/~sergio/sergio%20escalera%20homepage_006.htm">
                    <img src="{% static 'images/logo/logoHuPBA_white.png' %}" width="80" height="60" alt="HuPBA logo">
                </a>
                <a href="http://gesture.chalearn.org/">
                    <img src="{% static 'images/logo/logoChalearn.png' %}" width="80" height="60" alt="HuPBA logo">
                </a>
                <a href="http://visada.me/">
                    <img src="{% static 'images/logo/logoVisada.png' %}" width="80" height="60" alt="Visada logo">
                </a>
                <a href="http://www.uoc.edu/">
                    <img src="{% static 'images/logo/logoUOC.png' %}" width="80" height="60" alt="UOC logo">
                </a>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right text-right">
                <p>Project developed in collaboration with:</p>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->
{% endblock content %}

{% block js %}

<script>
    $(document).ready(function() {

        var mydropzone = new Dropzone('#mydropzone');

        $('#imgsubmit').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            mydropzone.processQueue();
        });
    });
</script>

{% endblock js %}
</body>
</html>
