<!DOCTYPE html>

{% load static %}
{% load canvas_filters %}
{% load thumbnail %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block extra_head %}

        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <title>Age Recognition</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

        <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />

        <!--Load Bootstrap css files-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">

        <!--Load font-awesome css files (fancy icons)-->
        <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">

        <!-- Load django_facebook css files form STATIC-->
        <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    {#    <link rel="stylesheet" href="{% static 'css/basic.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/messi.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">

        <!--Load js files from STATIC -->
        {% include 'django_facebook/_facebook_js.html' %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script src="{% static 'js/messi.min.js' %}"></script>
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/dropzone.js' %}"></script>
        <script>
        {% if message %}
            new Messi('{{ message }}', {
                title: 'Repeated Images',
                titleClass: 'anim warning',
                modal: true,
                buttons: [{id: 0, label: 'Continue', val: 'X', class: 'btn-default'}]
            });
        {% endif %}
        function ShowStats(pic, real_age, ground_truth, num_votes_pic, id_pic){
            if (ground_truth==''){
                ground_truth = 'Not voted yet'
            }
            {% for p in pictures %}
                if(pic == {{ forloop.counter0 }}){
                    var thumb = "{% thumbnail p '200x200' quality=80 crop="center" as im %}" +
                                    "<img src='{{ im.url }}' width='{{ im.width }}' height='{{ im.height }}' alt='Image not found' onError=\"this.onerror=null;this.src='{{ MEDIA_URL }}{{ p.pic }}';\" />" +
                                "{% endthumbnail %}"
                }
            {% endfor %}
            var content =
                    "<table cellspacing='2' id='stats' class='table table-striped tablesorter' style='barckground-color: wite'>" +
                    "<tbody>" +
                        "<tr>" +
                            "<td><div class='dz-details game-pic-container' style='padding-top: 20px;'>" +
                                thumb +
                            "</div></td>" +
                            "<td>" +
                                "<table cellspacing='2' id='stats' class='table table-striped tablesorter' style='barckground-color: wite'>" +
                                "<thaed><tr>" +
                                    "<th>Real Age</th>" +
                                    "<th>Apparent Age</th>" +
                                    "<th>Number of Votes</th>" +
                                "</tr><thead><tbody><tr>" +
                                    "<td>" + real_age + "</td>" +
                                    "<td>" + ground_truth + "</td>" +
                                    "<td>" + num_votes_pic + "</td>" +
                                "</tr></tbody></talbe>" +
                            "</td>" +
                        "</tr>" +
                    "</tbody></table>" +
                    "<form class='form-horizontal' role='form' action=\"{% url 'gallery' %}\" method='post' enctype='multipart/form-data'>" +
                    "{% csrf_token %}" +
                        "<div class='form-group'>" +
                            "<div class='dz-slider' style='margin-bottom: -30px;'>" +
                                "<p>Input the real age: <strong id='range_game_"+ id_pic +"'>"+ real_age +"</strong></p>" +
                                "<input max='100' min='0' name='vote' onchange=\"showValue(\'range_game_"+ id_pic +"\', this.value); showSave();\" oninput=\"showValue(\'range_game_"+ id_pic +"\', this.value); showSave();\" type='range' value='"+ real_age +"'>" +
                                "<input class='hidden' type='text' name='id_pic' value=\'" + id_pic + "\'>" +
                            "</div>" +
                            "<div style='padding-left: 175px;'>" +
                                "<button id='save' style='visibility: hidden;' class='btn btn-success' type='submit' onclick='hideSave();'>Save</button>" +
                            "</div>" +
                        "</div>" +
                    "</form>";

            new Messi(content, {
                title: 'Image Information',
                modal: true,
                buttons: [
                    {id:0, label: 'Remove Image', val: 'R', class: 'btn-danger'},
                    {id: 1, label: 'Continue', val: 'X', class: 'btn-success'}
                ],
                width: '800px',
                callback: function(val) {
                    if (val=='R'){
                        rmFormSubmit(id_pic);
                    }
                }
            });
        }
        </script>
    {% endblock extra_head %}
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

{% block content %}
<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li><a href="{% url 'home' %}" >Profile</a></li>
                            <li><a href="{% url 'game' %}">Game</a></li>
                            <li><a href="{% url 'achievements' %}">Achievements</a></li>
                            <li class="current_li"><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'ranking' %}">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >Profile</a></li>
                                <li><a href="{% url 'game' %}">Game</a></li>
                                <li><a href="{% url 'achievements' %}">Achievements</a></li>
                                <li class="current_li"><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'ranking' %}">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

</div> <!-- /#home -->
<!--END-HEADER-->

<!-- GALLERY -->
<div id="gallery" class="content-section">
    <div class="container" style="padding-bottom: 150px">
        <div class="row">
            <div class="col-md-12 text-center" style="height:200px;">
                <h1 class="section-title">Gallery</h1>
            </div>
        </div>
        <div><p style="color: black;"><strong>Click</strong> on the gray box to <strong>upload</strong> more images or click on the uploaded images to get more <strong>info</strong>.</p></div>
        <form id='mydropzone' class="dropzone text-center" role="form"
                      action="{% url 'gallery' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

{#                ADD GALLERY OF PICTURES #}
            {% for p in pictures %}
                <div class="dz-preview dz-image-preview" onclick="ShowStats('{{ forloop.counter0 }}', '{{ p.real_age}}' , '{{ p.ground_truth }}', '{{ p.num_votes }}', '{{ p.id }}');">
                    <div class="dz-details game-pic-container-gallery" style="left: 0; padding: 0; margin: 0 22px 22px 22px">
                        {% thumbnail p.pic "100x100" quality=50 crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Image not found" onError="this.onerror=null;this.src='{{ MEDIA_URL }}{{ p.pic }}';" />
                        {% endthumbnail %}
                    </div>
                    {% if p.num_votes == 0 %}
                        <p style="font-size: small; color: black;">Not voted yet.</p>
                    {% else %}
                        <p style="font-size: small; color: black;"><strong>Apparent age: </strong>{{ p.ground_truth }}</p>
                    {% endif %}
                </div>
            {% empty %}
                <div style="text-align: center;">
                    <p>Drag and Drop (or click) some images</p>
                </div>
            {% endfor %}

{#                ADD UPLOAD BOTTON #}
            <div class="form-group text-center">
                    <input id="imgsubmit" class="btn btn-success" type="button"
                            value="Upload Images"/>
            </div>
        </form>
    </div>
</div>
<!-- END GALLERY -->

<!--FOOTER-->
<div class="site-footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <table cellspacing="1" class="table">
            <tbody>
                <tr>
                    <td style="border-top: 0;"> <a href="{% url 'privacy' %}"><p>Privacy Policy</p></a> </td>
                    <td style="border-top: 0;"><strong> <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}"><p>logout</p></a> </strong></td>

                    <td class="pull-right" style="border-top: 0;">
                        <a href="http://www.maia.ub.es/~sergio/soluciones2_008.htm">
                            <img src="{% static 'images/logo/logoHuPBA_white.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://gesture.chalearn.org/">
                            <img src="{% static 'images/logo/logoChalearn.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://visada.me/">
                            <img src="{% static 'images/logo/logoVisada.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uoc.edu/">
                            <img src="{% static 'images/logo/logoUOC.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.ub.edu/">
                            <img src="{% static 'images/logo/logoUB.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uab.cat/english/">
                            <img src="{% static 'images/logo/logoUAB2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.cvc.uab.es/">
                            <img src="{% static 'images/logo/logoCVC2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                    </td>
                    <td class="pull-right" style="border-top: 0;"> <p>Project developed in collaboration with:</p> </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->
{#    <iframe src="https://www.facebook.com/plugins/facepile.php?app_id={{ FACEBOOK_APP_ID }}&amp;width=500&amp;max_rows=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px;" allowTransparency="true"></iframe>#}
{% endblock content %}

{% block js %}

<script>
    $(document).ready(function() {

        var mydropzone = new Dropzone('#mydropzone', {
            success: function(){
                window.location.reload();
            }
        });

        var content = 'Do you want to upload these images?';
        $('#imgsubmit').click(function (e) {
           new Messi(content, {
               title: 'Upload Image',
               modal: true,
               buttons: [
                   {id: 0, label: 'Accept', val: 'Y', class: 'btn-success'},
                   {id: 1, label: 'Cancel', val: 'N', class: 'btn-danger'}
               ],
               callback: function(val) {
                   if (val=='Y') {
                        e.preventDefault();
                        e.stopPropagation();
                        mydropzone.processQueue();
                   }
               }
           })
        });
    });
</script>

{% endblock js %}
</body>
</html>
