<!DOCTYPE html>

{% load static %}
{% load canvas_filters %}
{% load thumbnail %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block extra_head %}
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Age Recognition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />
    <!--Load Bootstrap css files-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <!--Load font-awesome css files (fancy icons)-->
    <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">
    <!--Load animate and presonaliced css files-->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/messi.css' %}">
    <!-- Load django_facebook css files form STATIC-->
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    <!--Load js files from STATIC -->
    {% include 'django_facebook/_facebook_js.html' %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/messi.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock extra_head %}
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
{% block content %}
<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li><a href="{% url 'home' %}" >Profile</a></li>
                            <li class="current_li"><a href="{% url 'game' %}">Game</a></li>
                            <li><a href="{% url 'achievements' %}">Achievements</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'ranking' %}">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >Profile</a></li>
                                <li class="current_li"><a href="{% url 'game' %}">Game</a></li>
                                <li><a href="{% url 'achievements' %}">Achievements</a></li>
                                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'ranking' %}">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

</div> <!-- /#home -->
<!--END-HEADER-->

<!--LOGIN-->
{% if request.GET.fb_error_or_cancel or request.GET.error %}
    <div class="error">
        Please click allow in the facebook interface, to access Age Recognition
    </div>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not user.is_authenticated %}
    <div id="login" class="content-section">
        <div class="col-md-12 text-center">
            <h1 class="section-title">Login</h1>
        </div>
        <div class="row">
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
            <div class=".col-xs-8 .col-sm-10 .col-md-10 text-center">
                <!--form to call registration via facebook -->
                <form action="{% url 'facebook_connect' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next" />

                    <div id="facebook_login_js">
                        <input onclick="F.connect(this.parentNode.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
                        (javascript popup)
                    </div>
                </form>
                You are not logged in, Please login by clicking one of the buttons above
            </div>
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
        </div>
    </div>
{% endif %}
<!--END-LOGIN-->

{% if user.is_authenticated %}
<!-- GAME -->
    <div id="game" class="content-section">
        <div class="col-md-12 text-center" style="height:200px;">
            <h1 class="section-title">Game</h1>
        </div>
        <div class="container" style="padding-bottom: 50px">
            <div class="row">
            {% if game_pic_list %}
                <form class="form-horizontal" role="form"
                              action="{% url 'game' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
            {% for game_pic in game_pic_list %}

                    <div class="col-md-{% widthratio 12 game_pic_list|length 1 %} text-center dz-preview dz-image-preview">
                            <div class="form-group">
                                <div class="dz-details game-pic-container">
                                    {% thumbnail game_pic "200x200" quality=80 crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </div>
                                <p>{{ vote_form.errors }}</p>
                                <div class="slider">
                                    <p>Input the age: <strong id="range_game_{{ forloop.counter }}">0</strong></p>
                                    <input id="id_vote" max="100" min="1" name="vote" onchange='showValue("range_game_{{ forloop.counter }}", this.value)' oninput="showValue('range_game_{{ forloop.counter }}', this.value)" type="range" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="{% url 'report' %}?id={{ game_pic.id }}" class="btn btn-default">Report Image</a>
                            </div>

                    </div>
            {% endfor %}
                <div class="col-md-12 text-center">
                <button id="submit" type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            {% else %}
                <div style="text-align: center">
                    <p>There are no pictures you can vote to, ask your friends to join the game and increase the set of images!</p>
                </div>
            {% endif %}
            </div>
        <div class="row" style="height: 50px"></div>
    </div> <!-- /.container -->
    </div> <!-- /#game -->
    <!-- END GAME -->

{% endif %}

<!--FOOTER-->
<div class="site-footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <table cellspacing="1" class="table">
            <tbody>
                <tr>
                    <td style="border-top: 0;"> <a href="{% url 'privacy' %}"><p>Privacy Policy</p></a> </td>
                    <td style="border-top: 0;"><strong> <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}"><p>logout</p></a> </strong></td>

                    <td class="pull-right" style="border-top: 0;">
                        <a href="http://www.maia.ub.es/~sergio/sergio%20escalera%20homepage_006.htm">
                            <img src="{% static 'images/logo/logoHuPBA_white.png' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://gesture.chalearn.org/">
                            <img src="{% static 'images/logo/logoChalearn.png' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://visada.me/">
                            <img src="{% static 'images/logo/logoVisada.png' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uoc.edu/">
                            <img src="{% static 'images/logo/logoUOC.png' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.ub.edu/">
                            <img src="{% static 'images/logo/logoUB.png' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uab.cat/english/">
                            <img src="{% static 'images/logo/logoUAB2.png' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.cvc.uab.es/">
                            <img src="{% static 'images/logo/logoCVC2.png' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                    </td>
                    <td class="pull-right" style="border-top: 0;"> <p>Project developed in collaboration with:</p> </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#submit').on('click', function() {
            var content =
                    "<table cellspacing='2' id='stats' class='table table-striped tablesorter'>" +
                    "<thead>" +
                        "<tr><th>Images</th><th>Number of Votes</th><th>Age</th></tr>" +
                    "</thead><tbody>" +
                    "{% for p in game_pic_list %}" +
                        "<tr>" +
                        "<td><div class='dz-details game-pic-container-small'>" +
                            "{% thumbnail p "50x50" quality=50 crop="center" as im %}" +
                                "<img src='{{ im.url }}'' width='{{ im.width }}'' height='{{ im.height }}'>" +
                            "{% endthumbnail %}" +
                        "</div></td>" +
                        "<td>{{ game_pic_stats|lookup:forloop.counter0|lookup:'num_votes' }}</td>" +
                        "<td>{{ game_pic_stats|lookup:forloop.counter0|lookup:'avg_votes' }}</td>" +
                        "</tr>" +
                    "{% endfor %}" +
                    "</tbody></table>";

            new Messi(content, {title: 'Feedback', modal: true, buttons: [{id: 0, label: 'Continue', val: 'X'}], width: '800px'});
        });
    });
</script>
{% endblock js %}

</body>
</html>
