<!DOCTYPE html>

{% load static %}
{% load canvas_filters %}
{% load thumbnail %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block extra_head %}
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Age Recognition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />
    <!--Load Bootstrap css files-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <!--Load font-awesome css files (fancy icons)-->
    <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">
    <!--Load animate and presonaliced css files-->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/messi.css' %}">
    <!-- Load django_facebook css files form STATIC-->
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    <!--Load js files from STATIC -->
    {% include 'django_facebook/_facebook_js.html' %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/messi.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock extra_head %}
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
{% block content %}
<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li><a href="{% url 'home' %}" >Profile</a></li>
                            <li class="current_li"><a href="{% url 'game' %}">Game</a></li>
                            <li><a href="{% url 'achievements' %}">Achievements</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'ranking' %}">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >Profile</a></li>
                                <li class="current_li"><a href="{% url 'game' %}">Game</a></li>
                                <li><a href="{% url 'achievements' %}">Achievements</a></li>
                                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'ranking' %}">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

</div> <!-- /#home -->
<!--END-HEADER-->

<!-- GAME -->
<div id="game" class="content-section">
    <div class="col-md-12 text-center" style="height:200px;">
        <h1 class="section-title">Game</h1>
    </div>
    <div class="container" style="padding-bottom: 50px">
        <div class="row">
        {% if game_pic_list %}
            <form id="gameForm" class="form-horizontal" role="form"
                          action="{% url 'game' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
        {% for game_pic in game_pic_list %}

            <div id="img_{{ forloop.counter0 }}" class="col-md-{% widthratio 12 game_pic_list|length 1 %} text-center dz-preview dz-image-preview">
                <div class="form-group">
                    <div class="dz-details game-pic-container">
                        {% thumbnail game_pic "200x200" quality=80 crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" onclick="zoomImg('{{ game.pic.path }}')">
                        {% endthumbnail %}
                        <input type="hidden" name="id_pic" value="{{ game_pic.id }}">
                    </div>
                    <p>{{ vote_form.errors }}</p>
                    <div class="slider">
                        <p>Input the age: <strong id="range_game_{{ forloop.counter }}">0</strong></p>
                        <input id="id_vote"
                               max="100" min="0"
                               name="vote"
                               onchange='showValue("range_game_{{ forloop.counter }}", this.value); document.getElementById("img_{{ forloop.counter0 }}").style.backgroundColor="rgba(174, 245, 206, 0.91)";'
                               oninput="showValue('range_game_{{ forloop.counter }}', this.value)"
                               type="range" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <a href="{% url 'report' %}?id={{ game_pic.id }}" class="btn btn-default btn-mini">Report Image</a>
                </div>
            </div>
        {% endfor %}
            <div class="col-md-12 text-center">
            <button id="submit" type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        {% else %}
            <div style="text-align: center">
                <p>There are no pictures you can vote to, ask your friends to join the game and increase the set of images!</p>
            </div>
        {% endif %}
        </div>
    <div class="row" style="height: 50px"></div>
</div> <!-- /.container -->
</div> <!-- /#game -->
<!-- END GAME -->

<!--FOOTER-->
<div class="site-footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <table cellspacing="1" class="table">
            <tbody>
                <tr>
                    <td style="border-top: 0;"> <a href="{% url 'privacy' %}"><p>Privacy Policy</p></a> </td>
                    <td style="border-top: 0;"><strong> <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}"><p>logout</p></a> </strong></td>

                    <td class="pull-right" style="border-top: 0;">
                        <a href="http://www.maia.ub.es/~sergio/soluciones2_008.htm">
                            <img src="{% static 'images/logo/logoHuPBA_white.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://gesture.chalearn.org/">
                            <img src="{% static 'images/logo/logoChalearn.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://visada.me/">
                            <img src="{% static 'images/logo/logoVisada.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uoc.edu/">
                            <img src="{% static 'images/logo/logoUOC.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.ub.edu/">
                            <img src="{% static 'images/logo/logoUB.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uab.cat/english/">
                            <img src="{% static 'images/logo/logoUAB2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.cvc.uab.es/">
                            <img src="{% static 'images/logo/logoCVC2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                    </td>
                    <td class="pull-right" style="border-top: 0;"> <p>Project developed in collaboration with:</p> </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->
{#<iframe src="https://www.facebook.com/plugins/facepile.php?app_id={{ FACEBOOK_APP_ID }}&amp;width=500&amp;max_rows=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px;" allowTransparency="true"></iframe>#}
{% endblock content %}

{% block js %}
<script>
function zoomImg(path){
    Messi.img(path);
}
</script>
<script>
    var content =
                "<table cellspacing='2' id='stats' class='table table-striped tablesorter'>" +
                "<thead>" +
                    "<tr><th>Images</th><th>Number of Votes</th><th>Scores</th></tr>" +
                "</thead><tbody>" +
                "{% for p in game_pic_list %}" +
                    "<tr>" +
                    "<td><div class='dz-details game-pic-container-small'>" +
                        "{% thumbnail p "50x50" quality=50 crop="center" as im %}" +
                            "<img src='{{ im.url }}'' width='{{ im.width }}'' height='{{ im.height }}'>" +
                        "{% endthumbnail %}" +
                    "</div></td>" +
                    "<td>{{ game_pic_stats|lookup:forloop.counter0|lookup:'num_votes' }}</td>" +
                    "<td><p id='score_{{ forloop.counter }}' onload=\"calculateScore('range_game_{{ forloop.counter }}', 'score_{{ forloop.counter }}', {{ p.ground_truth }});\"></p></td>" +
                    "</tr>" +
                "{% endfor %}" +
                "</tbody></table>";

    // this is the id of the form
    var frm = $('#gameForm');
    frm.submit( function (ev) {
        $.ajax({
               type: frm.attr('method'),
               url: frm.attr('action'),
               data: frm.serialize(), // serializes the form's elements.
               success: function(data) {
                   new Messi(content, {title: 'Feedback',
                       modal: true,
                       buttons: [{id: 0, label: 'Continue', val: 'X', class: 'btn-success'}],
                       width: '800px',
                       callback: function(val) {
                            if (val=='X'){
                                location.reload(true);
                            }
                        }
                   });
               }
         });
        ev.preventDefault();
    });
</script>
{% endblock js %}

</body>
</html>
