<!DOCTYPE html>

{% load static %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Age Recognition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />

    <!--Load Bootstrap css files-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">

    <!--Load font-awesome css files (fancy icons)-->
    <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">

    <!--Load animate and presonaliced css files-->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">

    <!-- Load django_facebook css files form STATIC-->
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    <!--Load js files from STATIC -->
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li class="current_li"><a href="home" onclick="window.location='/home'">Profile</a></li>
                            <li><a href="game" onclick="window.location='/game'">Game</a></li>
                            <li><a href="achievements" onclick="window.location='/achievements'">Achievements</a></li>
                            <li><a href="gallery" onclick="window.location='/gallery'">Gallery</a></li>
                            <li><a href="ranking" onclick="window.location='/ranking'">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li class="current_li"><a href="home" onclick="window.location='/home'">Profile</a></li>
                                <li><a href="game" onclick="window.location='/game'">Game</a></li>
                                <li><a href="achievements" onclick="window.location='/achievements'">Achievements</a></li>
                                <li><a href="gallery" onclick="window.location='/gallery'">Gallery</a></li>
                                <li><a href="ranking" onclick="window.location='/ranking'">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

</div> <!-- /#home -->
<!--END-HEADER-->

<!--LOGIN-->
{% if request.GET.fb_error_or_cancel or request.GET.error %}
    <div class="error">
        Please click allow in the facebook interface, to access Age Recognition
    </div>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not user.is_authenticated %}
    <div id="login" class="content-section">
        <div class="col-md-12 text-center">
            <h1 class="section-title">Login</h1>
        </div>
        <div class="row">
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
            <div class=".col-xs-8 .col-sm-10 .col-md-10 text-center">
                <!--form to call registration via facebook -->
                <form action="{% url 'facebook_connect' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next" />

                    <div id="facebook_login_js">
                        <input onclick="F.connect(this.parentNode.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
                        (javascript popup)
                    </div>
                </form>
                You are not logged in, Please login by clicking one of the buttons above
            </div>
            <div class=".col-xs-4 .col-sm-2 .col-md-2">
            </div>
        </div>
    </div>
{% endif %}
<!--END-LOGIN-->

{% if user.is_authenticated %}
    <!-- PROFILE -->
    <div id="profile" class="content-section">
        <div class="col-md-12 text-center">
            <h1 class="section-title">Profile</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <span class="pull-right">
                        <!--Profile Image-->
                        <img src="http://graph.facebook.com/{{ user.profile_or_self.facebook_id }}/picture?type=large" title="facebook profile image" />
                    </span>
                </div>
                <div class="col-md-6 col-sm-6">
                    <header>
                        <h1><strong>{{ user.first_name }} {{user.last_name}}</strong></h1>
                    </header>
                    <ul>
                        <li><strong>Uploaded Pictures: </strong> {{user.userprofile.upload_pic}} </li>
                        <li><strong>Evaluated Pictures: </strong> {{user.userprofile.eval_pic}} </li>
                        <li><strong>Score Global: </strong> {{user.userprofile.score_global}} </li>
                        <li><strong>Score Week: </strong> {{user.userprofile.score_week}} </li>
                        <li><strong>Score Day: </strong> {{user.userprofile.score_day}} </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3">
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <form class="form-horizontal" role="form"
                          action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div style="padding:10px;margin:10px;border:0 solid #ccc">
                              <span title="Upload images of yourself so other
                                  players con guess how old you look
                                  like">
                                  <p>{{ pic_form.non_field_errors }}</p>
                                  <div>{{ pic_form.pic.errors }}</div>
                                  <div>{{ pic_form.pic }}</div>

                                  <div>{{ pic_form.real_age.errors }}</div>
                                  <div id="real_age">
                                      <label for="real_age"><strong>Your age in the image:</strong></label>
                                      {{ pic_form.real_age }}
                                  </div>

                                  <input class="btn btn-default" type="submit"
                                         value="Upload Images"/>
                              </span>
                            </div>
                        </div>
                    </form>
                    <p>
                        <a href="#game" class="btn btn-lg btn-default"><strong>Play</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END PROFILE -->

{#    <!-- GAME -->#}
{#    <div id="game" class="content-section">#}
{#        <div class="col-md-12 text-center">#}
{#            <h1 class="section-title">Game</h1>#}
{#        </div>#}
{#        <div class="container">#}
{#            {% if game_pic %}#}
{#                <div class="row">#}
{#                    <div class="col-md-2 col-sm-3">#}
{#                    </div>#}
{#                    <div class="col-md-8 col-sm-6 text-center">#}
{#                        <img src="{{ MEDIA_URL }}{{ game_pic }}" alt="{{ game_pic }}"#}
{#                             style="width: 50%; height: 50%" class="img-thumbnail">#}
{#                    </div>#}
{#                    <div class="col-md-2 col-sm-3">#}
{#                    </div>#}
{#                </div>#}
{#                <dic class="row">#}
{#                    <div class="col-md-2 col-sm-3">#}
{#                    </div>#}
{#                    <div class="col-md-8 col-sm-6 text-center">#}
{#                        <form class="form-horizontal" role="form"#}
{#                              action="{% url 'home' %}" method="post" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                            <div class="form-group">#}
{#                                <div class="col-sm-9">#}
{#                                    <p>{{ vote_form.errors }}</p>#}
{#                                    <p>{{ vote_form.vote }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <div class="col-sm-12">#}
{#                                    <button type="submit" class="btn btn-default">Submit</button>#}
{#                                    <a href="report" class="btn btn-default">Report Image</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            {% else %}#}
{#                <p>There are no pictures you can vote to, ask your friends to join the game and increase the set of images!</p>#}
{#            {% endif %}#}
{#    </div> <!-- /.container -->#}
{#    </div> <!-- /#game -->#}
{#    <!-- END GAME -->#}
{##}
{#    <!-- ACHIEVEMENTS -->#}
{#    <div id="achievements" class="content-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12 text-center">#}
{#                    <h1 class="section-title">Achievements</h1>#}
{#                </div> <!-- /.col-md-12 -->#}
{#            </div> <!-- /.row -->#}
{#            <div class="row">#}
{#                <div class="col-md-2 col-sm-3">#}
{#                </div> <!-- /.col-md-2 -->#}
{#                <div class="col-md-8 col-sm-6">#}
{#                    <table class="table table-striped">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th>Achievement</th>#}
{#                            <th>Description</th>#}
{#                            <th>Next Goal</th>#}
{#                            <th>Stars</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <!-- SHARE IT -->#}
{#                            <td>Share it!</td>#}
{#                            <td>Invite your friends to play and you will get starts.</td>#}
{#                            <td></td>#}
{#                            <td><span class="pull-left-o"> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <!-- PRECISION -->#}
{#                            <td>Precision</td>#}
{#                            <td>As better your guess are higher your rank will be.</td>#}
{#                            {% if user.userprofile.ach_precision == 0 %}#}
{#                                <td>This is awkward</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 1 %}#}
{#                                <td>You should check your sight</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 2 %}#}
{#                                <td>That's all you can do?</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 3 %}#}
{#                                <td>Well, you can do better.</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 4 %}#}
{#                                <td>Good, but try harder</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 5 %}#}
{#                                <td>You are in the good way, keep improving</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 6 %}#}
{#                                <td>Well done</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 7 %}#}
{#                                <td>Great!</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 8 %}#}
{#                                <td>Excellent guessing skills!</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 9 %}#}
{#                                <td>Incredible, you are touching perfection.</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>#}
{#                            {% elif user.userprofile.ach_precision == 10 %}#}
{#                                <td>Amazing! Prefect precision!</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>#}
{#                            {% endif %}#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <!-- VOTE -->#}
{#                            <td>Vote!</td>#}
{#                            <td>Vote more images to get more stars.</td>#}
{#                            {% if user.userprofile.eval_pic < 5 %}#}
{#                                <td>Vote 5 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 10 %}#}
{#                                <td>Vote 10 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 20 %}#}
{#                                <td>Vote 20 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 50 %}#}
{#                                <td>Vote 50 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 150 %}#}
{#                                <td>Vote 150 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 400 %}#}
{#                                <td>Vote 400 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 1000 %}#}
{#                                <td>Vote 1000 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 5000 %}#}
{#                                <td>Vote 5000 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 12000 %}#}
{#                                <td>Vote 12000 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic < 30000 %}#}
{#                                <td>Vote 30000 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>#}
{#                            {% elif user.userprofile.eval_pic >= 30000 %}#}
{#                                <td>Keep Voting</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>#}
{#                            {% endif %}#}
{#                        </tr>#}
{#                        <tr>#}
{#                        <!-- ADD PICTURES -->#}
{#                            <td>Add Pictures!</td>#}
{#                            <td>Upload more images to get more stars.</td>#}
{#                                {% if user.userprofile.upload_pic < 1 %}#}
{#                                <td>Upload 1 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 2 %}#}
{#                                <td>Upload 2 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 5 %}#}
{#                                <td>Upload 5 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 10 %}#}
{#                                <td>Upload 10 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 15 %}#}
{#                                <td>Upload 15 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 30 %}#}
{#                                <td>Upload 30 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 50 %}#}
{#                                <td>Upload 50 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 75 %}#}
{#                                <td>Upload 75 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 100 %}#}
{#                                <td>Upload 100 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic < 200 %}#}
{#                                <td>Upload 200 pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>#}
{#                            {% elif user.userprofile.upload_pic >= 200 %}#}
{#                                <td>Keep uploading pictures</td>#}
{#                                <td><span class="pull-left"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>#}
{#                            {% endif %}#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div> <!-- /.col-md-8 -->#}
{#                <div class="col-md-2 col-sm-3">#}
{#                </div> <!-- /.col-md-2 -->#}
{#            </div> <!-- /.row -->#}
{#        </div> <!-- /.container -->#}
{#    </div> <!-- /#achievements -->#}
{#    <!-- END ACHIEVEMENTS -->#}
{##}
{#    <!-- GALLERY -->#}
{#    <div id="gallery" class="content-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12 text-center">#}
{#                    <h1 class="section-title">Gallery</h1>#}
{#                </div>#}
{#            </div>#}
{#            {% if pictures %}#}
{#                <div class="site-slider">#}
{#                    <ul class="bxslider">#}
{#                        {% for picture in pictures %}#}
{#                            <li class="gallery">#}
{#                                <img src="{{ MEDIA_URL }}{{ picture.pic }}" alt="{{ picture.pic }}"#}
{#                                     style="height: 500px">#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul> <!-- /.bxslider -->#}
{#                </div> <!-- /.site-slider -->#}
{#            {% else %}#}
{#                <p>Not Images in your gallery, please upload some images</p>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#    <!-- END GALLERY -->#}
{##}
{#    <!-- RANKING -->#}
{#    <div id="ranking" class="content-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12 text-center">#}
{#                    <h1 class="section-title">Ranking</h1>#}
{#                </div> <!-- /.col-md-12 -->#}
{#            </div> <!-- /.row -->#}
{#            <div class="row">#}
{#                <div class="col-md-2 col-sm-3">#}
{#                </div> <!-- /.col-md-2 -->#}
{#                <div class="col-md-8 col-md-8">#}
{#                    <table class="table table-striped">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th>#</th>#}
{#                            <th>Player</th>#}
{#                            <th>Score</th>#}
{#                            <th>Score Week</th>#}
{#                            <th>Score Day</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        {% for u in users %}#}
{#                            <tr>#}
{#                                <td> {{ forloop.counter }}</td>#}
{#                                <td><strong> {{u.user.first_name}} {{u.user.last_name}}</strong></td>#}
{#                                <td> {{u.score_global }}</td>#}
{#                                <td> {{u.score_week }}</td>#}
{#                                <td> {{u.score_day }}</td>#}
{#                            </tr>#}
{#                        {% empty %}#}
{#                            <strong>There are no users</strong>#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#                <div class="col-md-2 col-sm-3">#}
{#                </div> <!-- /.col-md-2 -->#}
{#            </div> <!-- /.row -->#}
{#        </div> <!-- /.container -->#}
{#    </div> <!-- /#ranking -->#}
{#    <!-- END RANKING -->#}
{% endif %}

<!--FOOTER-->
<div class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right">
                <a href="http://www.maia.ub.es/~sergio/sergio%20escalera%20homepage_006.htm">
                    <img src="{% static 'images/logo/logoHuPBA_white.png' %}" width="80" height="60" alt="HuPBA logo">
                </a>
                <a href="http://gesture.chalearn.org/">
                    <img src="{% static 'images/logo/logoChalearn.png' %}" width="80" height="60" alt="HuPBA logo">
                </a>
                <a href="http://visada.me/">
                    <img src="{% static 'images/logo/logoVisada.png' %}" width="110" height="60" alt="Visada logo">
                </a>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-4 col-sm-4 col-xs-6 pull-right">
                <p>Project developed in collaboration with:</p>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->

<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"><\/script>')</script>
<script src="{% static 'js/jquery.easing-1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!--Load django_facebook script from STATIC-->
<script src="{{ STATIC_URL }}django_facebook/js/statictest.js" type="text/javascript"></script>
{% include 'django_facebook/_facebook_js.html' %}

</body>
</html>
