<!DOCTYPE html>

{% load static %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block extra_head %}
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Age Recognition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />

    <!--Load Bootstrap css files-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">

    <!--Load font-awesome css files (fancy icons)-->
    <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">

    <!--Load animate and presonaliced css files-->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">

    <!-- Load django_facebook css files form STATIC-->
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    <!--Load js files from STATIC -->
    {% include 'django_facebook/_facebook_js.html' %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock extra_head %}
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

{% block content %}

<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li><a href="{% url 'home' %}" >Profile</a></li>
                            <li><a href="{% url 'game' %}">Game</a></li>
                            <li><a href="{% url 'achievements' %}">Achievements</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'ranking' %}">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >Profile</a></li>
                            <li><a href="{% url 'game' %}">Game</a></li>
                            <li><a href="{% url 'achievements' %}">Achievements</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'ranking' %}">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

</div> <!-- /#home -->
<!--END-HEADER-->

<!-- POLICY -->
<div id="policiy" class="content-section">
    <div class="col-md-12 text-center" style="height:200px;">
        <h1 class="section-title">Privacy Policy</h1>
    </div>
    <div class="container">
        <dic class="row">
            <div class="col-md-2 col-sm-3">
            </div>
            <div class="col-md-8 col-sm-6 text-left">
                <div class="terms">
                <p>This Privacy Policy governs the manner in which ChaLearn collects, uses, maintains and discloses information collected from users (each, a "User") of the chalearn.org website ("Site"). This privacy policy applies to the Site and all products and services offered by ChaLearn.</p>

                <h4>Personal identification information</h4>

                <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information, social security number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>

                <h4>Non-personal identification information</h4>

                <p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
                <h4>Web browser cookies</h4>

                <p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
                <h4>How we use collected information</h4>

                <p>ChaLearn collects and uses Users personal information for the following purposes:</p>
                <ul>
                    <li>To administer challenges, workshops, or other events organized by ChaLearn.</li>
                    <li>To send Users information they agreed to receive about topics we think will be of interest to them.</li>
                    <li>To contact winners and award them prizes.</li>
                    <li>The email address Users provide for entering a challenge, will only be used to send them information and updates pertaining to the challenge. It may also be used to respond to their inquiries, and/or other requests or questions. Emails are kept secret and Users' identity are not publicly disclosed unless the Users claim a prize or agree to reveal their identity.</li>
                </ul>
                <h4>How we protect your information</h4>

                <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>
                <h4>Sharing your personal information</h4>

                <p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.</p>

                <h4>Third party websites</h4>

                <p>Users may find content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.</p>
                <h4>Changes to this privacy policy</h4>

                <p>ChaLearn has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
                <h4>Your acceptance of these terms</h4>

                <p>By using this Site, entering challenges, participating to workshops or other events organized by ChaLearn, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site or participate in our events. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
                <h4>Contacting us</h4>

                <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site,<a href="http://www.chalearn.org/contact-us.html" style="color: blue"> please contact us.</a></p>

                <p>This document was last updated on October 26, 2011</p>
                </div>
            </div>
        </div>
</div> <!-- /.container -->
</div> <!-- /#report -->
<!-- END POLICY -->

<!--FOOTER-->
<div class="site-footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <table cellspacing="1" class="table">
            <tbody>
                <tr>
                    <td style="border-top: 0;"> <a href="{% url 'privacy' %}"><p>Privacy Policy</p></a> </td>
                    <td style="border-top: 0;"><strong> <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}"><p>logout</p></a> </strong></td>

                    <td class="pull-right" style="border-top: 0;">
                        <a href="http://www.maia.ub.es/~sergio/soluciones2_008.htm">
                            <img src="{% static 'images/logo/logoHuPBA_white.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://gesture.chalearn.org/">
                            <img src="{% static 'images/logo/logoChalearn.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://visada.me/">
                            <img src="{% static 'images/logo/logoVisada.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uoc.edu/">
                            <img src="{% static 'images/logo/logoUOC.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.ub.edu/">
                            <img src="{% static 'images/logo/logoUB.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uab.cat/english/">
                            <img src="{% static 'images/logo/logoUAB2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.cvc.uab.es/">
                            <img src="{% static 'images/logo/logoCVC2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                    </td>
                    <td class="pull-right" style="border-top: 0;"> <p>Project developed in collaboration with:</p> </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->
    <iframe src="https://www.facebook.com/plugins/facepile.php?app_id={{ FACEBOOK_APP_ID }}&amp;width=500&amp;max_rows=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px;" allowTransparency="true"></iframe>

{% endblock content %}

{% block js %}
{% endblock js %}

</body>
</html>
