<!DOCTYPE html>

{% load static %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block extra_head %}
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Age Recognition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/logo/small_logo.png' %}" />
    <!--Load Bootstrap css files-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <!--Load font-awesome css files (fancy icons)-->
    <link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">
    <!-- Load django_facebook css files form STATIC-->
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    <!--Load js files from STATIC -->
    {% include 'django_facebook/_facebook_js.html' %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock extra_head %}
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

{% block content %}
<!-- HEADER -->
<div id="home">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                    <div id="templatemo_logo">
                        <h1><a rel="nofollow" title="Age Recognition">Age Recognition</a></h1>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-9 col-sm-4 col-xs-4">
                    <a href="#" onclick="showMenu()" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        <ul>
                            <li class="trophy"><a href="{% url 'prizes' %}">Prizes</a></li>
                            <li><a href="{% url 'home' %}" >Profile</a></li>
                            <li><a href="{% url 'game' %}">Game</a></li>
                            <li><a href="{% url 'achievements' %}">Achievements</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'ranking' %}">Ranking</a></li>
                        </ul>
                    </div> <!-- /.age_recognition-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="responsive">
                        <div class="main-menu">
                            <ul>
                                <li class="trophy"><a href="{% url 'prizes' %}">prizes</a></li>
                                <li><a href="{% url 'home' %}" >Profile</a></li>
                                <li><a href="{% url 'game' %}">Game</a></li>
                                <li><a href="{% url 'achievements' %}">Achievements</a></li>
                                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'ranking' %}">Ranking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->

</div> <!-- /#home -->
<!--END-HEADER-->

<!-- prizeS -->
<div id="prizes" class="content-section">
    <div class="col-md-12 text-center" style="height:200px;">
        <h1 class="section-title">Prizes</h1>
    </div>
    <div class="container" style="padding-bottom: 100px">
        <dic class="row">
            <div class="col-md-3 col-sm-3">
            </div>
            <div class="col-md-6 col-sm-6"  style="color: #000000">
                <p>
                    The first <strong>50</strong> players in the ranking at the <strong>beginning of 2015
                    </strong> will receive a lot of cosmetics from
                    <a href="http://www.californianaturel.com/"><strong>California Naturel</strong></a>
                    each of them valued at <strong>$150</strong>.
                    You can check your position in your Profile.
                </p>
                <p>More information will appear soon.</p>
                <div class="text-center"><img src="{{ STATIC_URL }}images/california-naturel_1.jpg"></div>
            </div>
            <div class="col-md-3 col-sm-3">
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /#report -->
<!-- END prizeS -->

<!--FOOTER-->
<div class="site-footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <table cellspacing="1" class="table">
            <tbody>
                <tr>
                    <td style="border-top: 0;"> <a href="{% url 'privacy' %}"><p>Privacy Policy</p></a> </td>
                    <td style="border-top: 0;"> <a href="mailto:face_aging@chalearn.org"><p>Contact with us</p></a> </td>
                    <td style="border-top: 0;"><strong> <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}"><p>logout</p></a> </strong></td>

                    <td class="pull-right" style="border-top: 0;">
                        <a href="http://www.maia.ub.es/~sergio/soluciones2_008.htm">
                            <img src="{% static 'images/logo/logoHuPBA_white.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://gesture.chalearn.org/">
                            <img src="{% static 'images/logo/logoChalearn.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://visada.me/">
                            <img src="{% static 'images/logo/logoVisada.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.californianaturel.com/">
                            <img src="{% static 'images/logo/logoCaliforniaNaturel.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uoc.edu/">
                            <img src="{% static 'images/logo/logoUOC.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.ub.edu/">
                            <img src="{% static 'images/logo/logoUB.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.uab.cat/english/">
                            <img src="{% static 'images/logo/logoUAB2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                        <a href="http://www.cvc.uab.es/">
                            <img src="{% static 'images/logo/logoCVC2.jpg' %}" width="80" height="60" alt="HuPBA logo">
                        </a>
                    </td>
                    <td class="pull-right" style="border-top: 0;"> <p>Collaborators:</p> </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->
<!--END-FOOTER-->

{% endblock content %}

{% block js %}
{%  endblock js %}

</body>
</html>
