<!DOCTYPE html>
{% load static %}

<html>
<head lang="en">
    {% block extra_head %}
    <meta charset="UTF-8">
    <title>Stats</title>
    {% endblock extra_head %}
</head>
<body>
{% block content %}
    <ul>
        <li><strong>Number of Users:</strong> {{ num_usr }}</li>
        <li><strong>Number of Images:</strong> {{ num_img }}</li>
        <li><strong>Number of Votes:</strong> {{ num_vte }}</li>
        <li><strong>Number of Reports:</strong> {{ num_rpt }}</li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>
                    Votes per image Distribution
                </th>
                <th>
                    Distribution of pictures over users
                </th>
                <th>
                    Evolution of de Database over time
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="{{ STATIC_URL }}stats/img_votes_distr.png" width="500" height="500">
                </td>
                <td>
                    <img src="{{ STATIC_URL }}stats/img_usr_distr.png" width="500" height="500">
                </td>
                <td>
                    <img src="{{ STATIC_URL }}stats/time_usr.png" width="500" height="500">
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
</body>
{% block js %}
{% endblock js %}
</html>